// main: custom.scss


$primary_color: #E53935;
$secondary_color: #1E88E5;
$link_color: #F44336;
$link_color_hover: #C62828;

$dark_color: #37474F;
$dark_font_color: #E0E0E0;
$dark_link_color: #E57373;
$dark_link_color_hover: #FFCDD2;
$dark_muted_color: #9E9E9E;
